<div class="row ">
  <div class="col-6 ">

    <div>
      <h3 class="text-center pt-3">Add Employee</h3>
      <div class="container">
        <div class="row justify-content-center ">


          <form class="form" [formGroup]="form">

            <div class="form-group">
              <label  >Employee ID:</label><br>
              <input type="text" name="email" class="form-control" formControlName="id">
            </div>
            <div class="form-group">
              <label  >First Name:</label><br>
              <input type="text" name="FirstName" id="username" formControlName="firstName" class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
              <label >Last Name:</label><br>
              <input type="text" name="username" id="username" class="form-control" formControlName="lastName">
            </div>

            <div class="form-group">
              <label for="address" >Address:</label><br>
              <input type="text" name="address" id="address" class="form-control" formControlName="address">
            </div>
            <div class="form-group">
              <label for="username" >DOB:</label><br>
              <input type="date" name="username" id="username" class="form-control" formControlName="dob">
            </div>
            <div class="form-group">
              <label for="username" >Mobile:</label><br>
              <input type="tel" name="username" id="username" class="form-control"formControlName="mobile" >
            </div>
            <div class="form-group">
              <label for="username">City:</label><br>
              <input type="text" name="username" id="username" class="form-control"formControlName="city" >
            </div>
<br>
            <div class="form-group ">

              <input type="button" name="submit" class="btn btn-success btn-md" value="Add" (click)="onCreate()"  >
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>
  <div class="col-6 mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EmpId</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Address</th>
          <th scope="col">Dob</th>
          <th scope="col">Mobile</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employee,let i=index " >
          <th scope="row">1</th>
          <td>{{item.id}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.address}}</td>
          <td>{{item.dob}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.city}}</td>
        </tr>

      </tbody>
    </table>
  </div>


</div>
